/* MY CSS */
body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: 'Lucida Grande', Arial, sans-serif;
    color: #333;
    background-color: #fefefe;
}

h1,
h2,
h3 {
    line-height: 1.2
}

footer {
    margin: 1.2em 0;
    line-height: 1.2;
    font-size: 12px;
    color: #a79e97;
}

footer a:link, footer a:visited {
    color: #857e78;
}

.social {
    text-align: center;
}